/* Đặt style cơ bản cho trang web */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Định dạng header */
header {
    background-color: #4CAF50;
    color: white;
    padding: 10px 0;
    text-align: center;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 10px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

/* Định dạng main và aside */
main {
    display: flex;
    flex-direction: row;
    margin: 20px;
}

main section {
    flex: 3;
    padding: 10px;
}

aside {
    flex: 1;
    padding: 10px;
    background-color: #f4f4f4;
    margin-left: 20px;
}

/* Định dạng footer */
footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}

/* Responsive design cho thiết bị di động */
@media (max-width: 768px) {
    main {
        flex-direction: column;
    }

    aside {
        margin-left: 0;
    }
}

.button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    color: white;
    background-color: #4CAF50;
    text-align: center;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.button:hover {
    background-color: #45a049;
}